@font-face {
    font-family: fPony;
    src: url('./Pony.ttf');
}

.gameXucXac {
    font-family: fPony;
}

@keyframes animationXucXac {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.xucXac {
    animation: animationXucXac 0.5s infinite;
}